.container {
  text-align: center; 
  
}

.searchBox{
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
}

.searchBox:hover{
  background-color: #e7e7e7;
}

.RemoveListButton{
  margin: 50px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  font-size: 20px;


}

.RemoveSearchButton{
  margin: 50px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  font-size: 20px;
 
}

.RemoveSearchButton:hover{
  background-color: #e0a7a7;
}

.RemoveListButton:hover{
  background-color: #e0a7a7;
}
.SearchSuggestion:hover{
  background-color: #e0a7a7;
  border-radius: 10px;
  border-color: black;

}

.SearchSuggestion{
cursor: pointer;
border-top: 1px solid black;
border-bottom: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
margin: 5px;
border-radius: 10px;
font-size: 20px;

}

.SavedList{
  font-size: 20px;
  text-align: center; 
 }



